 
.form {
    text-align: right;
  }
  
  .button {
    font: inherit;
    cursor: pointer;
    background-color: #067b8a;
    /* border: 1px solid #000000; */
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .button:hover,
  .button:active {
    background-color: #06757a;
    border-color: #ffffff;
  }