.delivery {
    display: flex;
    font-size: 13px;
    justify-content: space-around;
    min-width: 10rem;
    height: 2rem;
    cursor: pointer;
    background-color: #f3f3f3;
    /* border: 1px solid #b4b4b4; */
    color: rgb(0, 0, 0);
    align-items: center;
    border-radius: 20px;
}
.deliveryOption {
}
.or {
  
}
.pickUpOption {
}
.deliveryAdress {
  font-size: 13px;
}
.deliveryAction {
  background-color: #ffffff;
  border-color: #ffffff;
  display: flex;
  font-size: 13px;
  justify-content: space-around;
  width: 4rem;
  height: 1.8rem;
  cursor: pointer;
  color: rgb(0, 0, 0);
  align-items: center;
  border-radius: 20px;
  /* padding-left: 0.5rem; */
}
.or {
  
}
.pickUpAction {
  background-color: #ffffff;
    border-color: #ffffff;
    display: flex;
    font-size: 13px;
    justify-content: space-around;
    width: 4rem;
    height: 1.8rem;
    cursor: pointer;
    color: rgb(0, 0, 0);
    align-items: center;
    border-radius: 20px;
  /* padding-right: 0.5rem; */
}

.deliveryTime {
  font-size: 13px;
}
.deliveryOption:hover,
.pickUpOption:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    display: flex;
    font-size: 13px;
    justify-content: space-around;
    width: 4rem;
    height: 1.8rem;
    cursor: pointer;
    color: rgb(0, 0, 0);
    align-items: center;
    border-radius: 20px;
}

.deliveryOption:active,
.pickUpOption:active {
  background-color: #50afc0;
  border-color: #ffffff;
  display: flex;
  font-size: 13px;
  justify-content: space-around;
  width: 4rem;
  height: 1.8rem;
  cursor: pointer;
  color: rgb(0, 0, 0);
  align-items: center;
  border-radius: 20px;
}
.deliveryOption:focus,
.pickUpOption:focus{
  background-color: #50afc0;
  border-color: #ffffff;
  display: flex;
  font-size: 13px;
  justify-content: space-around;
  width: 4rem;
  height: 1.8rem;
  cursor: pointer;
  color: rgb(255, 255, 255);
  align-items: center;
  border-radius: 20px;
}